# Build artifacts
node_modules/
/vendor/
.DS_Store
composer.lock
*.js.map
*.css.map
yarn-error.log
yarn.lock

# IDE artifacts
.idea/
.vscode/

# Development files
.env
.env.local
.env.*.local
/public/
/silverstripe-cache/
/.phpunit.result.cache
/phpunit.xml
/phpcs.xml
/phpunit-filter.php
